<div class="table-container">
    <h3>Предыдущие оценки</h3>
    <label class="form-label text-muted mt-3 display-none">Оценки отсутствуют</label>
    <table class="table mt-3 ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Оценка</th>
                <th scope="col">Комментарий</th>
            </tr>
        </thead>
        <tbody>
            <% if(tableData) {%>
                <% for(let i = 0; i < tableData.length; i++) {%>
                    <tr>
                        <th><%=i+1 %></th>
                        <td><%=tableData[i].mark %></td>
                        <td><%=tableData[i].message %></td>
                    </tr>
                <%} %>
            <%} %>
        </tbody>
    </table>
</div>