<h3>Загрузить файл</h3>
<div class="mt-3 form-container">
    <form id="upload-form" enctype="multipart/form-data">
        <label for="formFile" class="form-label text-muted">.txt .pdf .doc(x)</label>
        <input 
            class="form-control" 
            type="file" 
            id="file" 
            name="filedata" 
            accept=".txt,.pdf"
            >
        <button type="button" class="btn btn-outline-success mt-3 btn-upload">Загрузить</button>

        <div class="result-container">
            
        </div>
    </form>
</div>