.container{
    height: 100vh;
}

.row{
    height: 100%;
}

.list-group-item {
    cursor: pointer;
}

.iframe {
    height: 100vh;
    width: 100%;
}

.add-height{
    height: 450px;
}

.display-none{
    display: none !important;
}

.result-container{
    height: 50px;
}