<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<main>
    <div class="container">
        <div class="row align-items-md-stretch rounded-3 bg-light">
            <div class="col-md-6 p-5">
                <%- include('../partials/upload-file'); %>
            </div>
            <div class="col-md-6 p-5">
                <%- include('../partials/get-files'); %>
            </div>
        </div>
    </div>
</main>

<script src="js/index.js"></script>
</body>
</html>